.page-header {
    /* background-color: #C25100; */
    background-image: linear-gradient(180deg, #9999ff 0%, #ffffff 100%);
    margin-top: 0;
    margin-bottom: 10px;
    padding: 20px 20px 20px 20px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #5959B3;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', serif;
}

.date {
    color: #737380;
    font-size: 14px;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:visited {
    color: #5959B3;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.top-menu:hover{
  color:#ffffff;
}

.post {
    margin: 25px 0px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px #CCCCCC solid;
    font-weight: 300;
}

.post h2 a,
.post h2 a:visited {
    color: #5959B3;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-size: 24px;
}

.post h2 a:hover {
    color: #9999FF;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-default,
.btn-default:visited {
    color: #5959B3;
    background: none;
    border-color: #5959B3;
}

.btn-default:hover {
    color: #FFFFFF;
    background-color: #5959B3;
}
